name: Main

on:
  push:
    branches:
      - main
  schedule:
      - cron: '0 8 * * 6'
  workflow_dispatch:

permissions:
  actions: write
  contents: write
  id-token: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7
        with:
          enable-cache: true

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Update ETF data
        run: uv run get-holdings

      - name: Commit and push if it changed
        run: |-
          git config user.name "Major Hayden"
          git config user.email "major@mhtx.net"
          git add *.txt README.md
          timestamp=$(date -u)
          git commit -m "Updating ETF data: ${timestamp}" || exit 0
          git clean -fxd
          git status
          git pull --rebase
          git push
